
@{
    ViewBag.Title = "Unauthorized";
}

<h2>Unauthorized Access</h2>

We feel very sorry, but you are not authorized to access this page.

@Html.ActionLink("Go Back", "Index", "Home", new { area = "" }, null)