<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">@Localization.Module <b class="caret"></b></a>
    <ul class="dropdown-menu submodule-selector">
        <li>
            <a href="/Finances/CashJournals">@Localization.CashJournals</a>
        </li>
        <li>
            <a href="/Finances/TaxRates">@Localization.TaxRates</a>
        </li>
    </ul>
</li>
